/* Definición de variables personalizadas */
:root {
  --bg_main: #0a1f44; /* Color de fondo principal */
  --text_light: #fff; /* Color de texto claro */
  --text_med: #53627c; /* Color de texto medio */
  --text_dark: #1e2432; /* Color de texto oscuro */
  --red: #ff1e42; /* Color rojo */
  --darkred: #c3112d; /* Color rojo oscuro */
  --orange: #ff8c00; /* Color naranja */
}

/* Estilos globales para todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

/* Estilo de cursor para botones */
button {
  cursor: pointer;
}

/* Estilo de apariencia de entrada de formulario */
input {
  -webkit-appearance: none;
}

/* Estilos de borde y fondo para botones e inputs */
button, input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

/* Estilo para imágenes */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Estilos de lista sin viñetas */
ul {
  list-style: none;
}

/* Estilos globales para el cuerpo del documento */
body {
  font: 1rem/1.3 "Roboto", sans-serif;
  background: var(--bg_main);
  color: var(--text_dark);
  padding: 50px;
}

/* Estilos para la sección de encabezado superior */
.top-banner {
  color: var(--text_light);
}

/* Estilos para el título de la aplicación */
.heading {
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.02em;
  padding: 0 0 30px 0;
}

/* Estilos para el formulario en la sección de encabezado */
.top-banner form {
  position: relative;
  display: flex;
  align-items: center;
}

/* Estilos para el campo de entrada en el formulario */
.top-banner form input {
  font-size: 2rem;
  height: 40px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid;
}

/* Estilos para el marcador de posición del campo de entrada */
.top-banner form input::placeholder {
  color: currentColor;
}

/* Estilos para el botón en el formulario */
.top-banner form button {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  background: var(--red);
  transition: background 0.3s ease-in-out;
}

/* Estilos de hover para el botón */
.top-banner form button:hover {
  background: var(--darkred);
}

/* Estilos para el mensaje en el formulario */
.top-banner form .msg {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 450px;
  min-height: 40px;
}

/* Estilos para la sección de información de ciudades */
.ajax-section {
  margin: 50px 0 20px;
}

/* Estilos para la lista de ciudades */
.ajax-section .cities {
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: repeat(4, 1fr);
}

/* Estilos para las tarjetas de ciudad */
.ajax-section .city {
  position: relative;
  padding: 40px 10%;
  border-radius: 20px;
  background: var(--text_light);
  color: var(--text_med);
}

/* Estilos de sombra para las tarjetas de ciudad */
.ajax-section .city::after {
  content: '';
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
  background: var(--text_light);
}

/* Estilos para las descripciones de clima */
.ajax-section figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Estilos para la temperatura */
.ajax-section .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text_dark);
}

/* Estilos para el superíndice de la temperatura */
.ajax-section .city sup {
  font-size: 0.5em;
}

/* Estilos para el superíndice del nombre de la ciudad */
.ajax-section .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
}

/* Estilos para el ícono del clima */
.ajax-section .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

/* Estilos para la cuadrícula de ciudades en tamaños de pantalla específicos */
@media screen and (max-width: 1000px) {
  .ajax-section .cities {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .ajax-section .cities {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .ajax-section .cities {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Estilos para el formulario en tamaños de pantalla específicos */
@media screen and (max-width: 700px) {
  .top-banner form {
    flex-direction: column;
  }
  .top-banner form input,
  .top-banner form button {
    width: 100%;
  }
  .top-banner form button {
    margin: 20px 0 0 0;
  }
  .top-banner form .msg {
    position: static;
    max-width: none;
    min-height: 0;
    margin-top: 10px;
  }
}
